/*Colors:
    dark orange/red:#B22701
    light orange:#FF5F34
    orange:#FF4B1A
    ocean green:#00B27D
    turquoise:#1AFFBA
*/

body {background-color: }
.header{
    color:#B22701;
    text-align: right;
    border-bottom: 2px inset #1AFFBA;
    padding: 0 15px 0 0;
    margin-top: 5px;
    margin-bottom:10px;
}
.logo{
    text-align: left;
    position:absolute;
    top: 0px;
}

.smaller-pics{
    display:flex;
    justify-content:space-around;  
}

.button{
    padding:none;
    border: 0;
}

.areas-of-my-life > h2{
    color:#FF5F34;
    padding:0 0 0 60px;
}

.smaller-pics > div > h2{
    color:#00B27D;
}

.smaller-pics > div > h5 > a{
    color:#1AFFBA;
}

