/*Colors:
    dark orange/red:#B22701
    light orange:#FF5F34
    orange:#FF4B1A
    ocean green:#00B27D
    turquoise:#1AFFBA
*/

.header {
    color: #B22701;
    text-align: right;
    padding: 0 15px 0 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo {
    text-align: left;
}

.divider-line {
    border-bottom: 2px inset #1AFFBA;
}

/*
.smaller-pics{
    display:flex;
    justify-content:space-around;  
}
*/
/*
.button{
    padding:none;
    border: 0;
}
*/

/*
.areas-of-my-life > h2 {
    color: #FF5F34;
}
*/

.smaller-pics > div > h2 {
    color: #00B27D;
}

.smaller-pics > div > p > a {
    color: #1AFFBA;
}

.img-modal {
    text-align: center;
}

.big-picture {
    padding-top: 10px;
}

.smaller-pics > div {
    text-align: center;
}

.smaller-pics > div > img {
    text-align: center;
    margin: 0 auto;
}

.areas-of-my-life > h2 {
    color: #FF5F34;
}

.aoml {
    text-align: center;
}

.modal-body > p {
    padding: 10px 0 0 0;
}









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































